<p id="notice"><%= notice %></p>

<p>
  <b>Duration:</b>
  <%= @session.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @session.description %>
</p>

<p>
  <b>Created:</b>
  <%= @session.created %>
</p>

<p>
  <b>Subtask:</b>
  <%= @session.subtask_id %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
