<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit_stuff">
    <b><%= f.label 'Title: ' %> </b>
    <%= f.text_field :title %>

    <%= f.label :proficiency %>
        <% @selects = [['None', 0], ['Bad', 1], ['Decent', 2], ['Good', 3,], ['Proficient', 4]] %>
        <select id="proficiency_proficiency" name="proficiency[proficiency]">
          <% @selects.each do |item| %>
            <option value="<%= item[1] %>"
            <% if item[1] == @task.proficiency %>
               selected="selected"
            <% end %>
            >
            <%= item[0] %>
            </option>
          <% end %>
        </select>

    <%= f.submit 'Update' %>
  </div>

<% end %>
