<h1>Editing task: <%= @task.title %></h1>
<%= link_to 'Back to tasks', tasks_path %>


<table id="tasks">
  <tr>
    <td id="heading_task">Subtask</td>
    <td id="heading_time">Time</td>
    <td id="heading_subtask">Sessions</td>
    <td id="heading_prof">Proficiency</td>
    <td id="heading_manage"></td>
  </tr>
  <% Subtask.find_all_by_task_id(@task.id).each do |task| %>
      <tr>
        <td id="task"><%= task.title %></td>
        <td id="time"><%= task.duration %></td>
        <td id="subtask"><%= task.sessions.count %></td>
        <td id="prof"><%= task.proficiency_to_s %></td>
        <td id="manage"><%= link_to 'Manage', edit_subtask_path(task) %> <%= link_to 'X', task, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
  <tr>
    <%= form_tag({:controller => 'subtasks', :action => 'create_new'}, :method => "post") do %>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <td colspan="5">
        <%= hidden_field(:task_id, @task.id) %>
        <%= label_tag(:title, "Title") %>
        <%= text_field_tag(:title) %>
        <%= label_tag(:proficiency, "Proficiency") %>
        <%= select(:proficiency, "proficiency", [['None', 0], ['Bad', 1], ['Decent', 2], ['Good', 3,], ['Proficient', 4]]) %>

        <%= submit_tag("Create new") %>
      </td>
      </tr>
  <% end %>
</table>
<br/>
<%= render 'form' %>  <br/>
