<h1>Listing tasks</h1>
<p>User id:<%= session[:user].id%></p>

<%= form_tag({:controller => 'tasks', :action => 'create_new'}, :method => "post") do %>
<%= submit_tag("Create new") %>
<%= label_tag(:title, "Title") %>
<%= text_field_tag(:title) %>
<%= label_tag(:proficiency, "Proficiency") %>
<%= number_field_tag(:proficiency) %>
<% end %>


<table>
  <tr>
    <th>Task</th>
    <th>Time</th>
    <th>Subtasks</th>
    <th>Proficiency</th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.duration %></td>
        <td><%= task.subtasks.count %></td>
        <td><%= task.proficiency_to_s %></td>
        <td><%= link_to 'Manage', edit_task_path(task) %></td>
        <!--<td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>  -->
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
