<%= form_for(@subtask) do |f| %>
  <% if @subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
      <% @subtask.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.hidden_field :task_id %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

      <div class="field">
    <%= f.label :proficiency %><br />
        <% @selects = [['None', 0], ['Bad', 1], ['Decent', 2], ['Good', 3,], ['Proficient', 4]] %>
        <select id="proficiency_proficiency" name="proficiency[proficiency]">
          <% @selects.each do |item| %>
            <option value="<%= item[1] %>"
            <% if item[1] == @subtask.proficiency %>
               selected="selected"
            <% end %>
            >
            <%= item[0] %>
            </option>
          <% end %>
        </select>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
