<h1>Editing subtask: <%= @subtask.title %></h1>
<%= link_to 'Back to task', edit_task_path(@task) %>

<%= render 'form' %> <br/>

<table id="tasks">
  <tr>
    <td id="heading_task">Subtask</td>
    <td id="heading_time">&nbsp;</td>
    <td id="heading_subtask"></td>
    <td id="heading_subtask">Time</td>
    <td id="heading_prof"></td>

  </tr>
  <% Session.find_all_by_subtask_id(@subtask.id).each do |session| %>
      <tr>
        <td id="task" colspan="3"><%= session.description %></td>
        <td id="subtask"><%= session.duration %></td>
        <td id="prof"><%= link_to 'Manage', edit_session_path(session) %> <%= link_to 'X', session, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
  <% end %>
  <tr>
    <%= form_tag({:controller => 'sessions', :action => 'create_new'}, :method => "post") do %>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <td colspan="5">
        <%= hidden_field(:subtask_id, @subtask.id) %>
       <b><%= label_tag(:description, "Title") %> </b><br>
        <%= text_area_tag :description, nil, :rows => 4, :cols => 68 %>
                                   <br>
        <%= label_tag(:duration, "Duration") %>
        <%= text_field_tag(:duration) %>

        <%= submit_tag("Create new") %>
        <br>

      </td>
      </tr>
  <% end %>
</table>

<br/>
<!--<%= link_to 'Back', tasks_path %>-->
