<h1>plogress login</h1>

<div class="edit_stuff2">
<%= form_tag("/login/login", :method => "post") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Log in") %>

<% end %>

</div>