<h1>User registration</h1>


<div class="edit_stuff2">
<%= form_tag({:controller => 'register', :action => 'register'}, :method => "post") do %>
<%= label_tag(:username, "Username") %><br/>
<%= text_field_tag(:username) %>       <br/>
<%= label_tag(:password, "Password") %>     <br/>
<%= text_field_tag(:password) %>                 <br/>
<%= label_tag(:confirm_password, "Confirm password") %><br/>
<%= text_field_tag(:confirm_password) %>                    <br/>

<%= submit_tag("Register") %>

<% end %>
